{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  Randomizer | Story Gym
{% endblock %}

{% block content %}
  <!-- Main section of content -->
  {% if not words %}
    <!-- SECTION 1: Start button to open randomizer -->
    <section class="randomize-first-section">
      <div class="sg-container">
        <div class="randomize-first-page">
          <h1>Let the Creativity Begin</h1>
          <p>Press the button and let StoryGym surprise you with a combination of random prompts. Use them as the foundation of your story and allow your imagination to take over. Every click is a new challenge, every story a new adventure.</p>
          <form method="post">
            {% csrf_token %}
            <button class="sg-btn" type="submit" name="generate_words">Start</button>
          </form>
        </div>
      </div>
    </section>
    <!-- SECTION 2: Randomizer -->
  {% else %}
    <section class="sg-container randomize-second-section">
      <div class="randomize-response-container">
        <div class="randomize-result-card">
          <h2>Your inspirational words are...</h2>
          <p id="randomizer-output">{{ words.main_character }} •
            {{ words.personality }} •
            {{ words.physical_description }} •
            {{ words.verb }} •
            {{ words.place }} •
            {{ words.random_noun }}</p>
        </div>
        <div class="randomize-cards-container">
          <div class="randomize-card-button">
            <p>Wrote your story now!</p>
            {% if user.is_authenticated %}
              <a href="{% url 'my_story' %}" class="sg-btn">Write now</a>
            {% else %}
              <a href="{% url 'login' %}" class="sg-btn">Write now</a>
            {% endif %}
          </div>
          <div class="randomize-card-button">
            <p>Feel unclucky? Try again!</p>
            <form method="post">
              {% csrf_token %}
              <button class="sg-btn" type="submit" name="generate_words">Draw again</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
