{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  Preview Story | Story Gym
{% endblock %}

{% block content %}
  <!-- Story preview -->
  <section class="story-preview-page sg-container">
    <div class="story-preview-panel">
      <h1 class="sg-title">{{ story.title }}</h1>
      <div class="story-preview-meta">
        <p>
          <strong>Generated words:</strong>
          {{ story.randomizer.words.main_character }},
          {{ story.randomizer.words.personality }},
          {{ story.randomizer.words.physical_description }},
          {{ story.randomizer.words.verb }},
          {{ story.randomizer.words.place }},
          {{ story.randomizer.words.random_noun }}
        </p>
        <p class="story-label">
          <strong>Author:</strong> {{ story.user.username }}
        </p>
        <p class="story-label">
          <strong>Created on:</strong> {{ story.created_on }}
        </p>
      </div>
      <div class="story-preview-content">
        <h2 class="story-label">Story:</h2>
        <div class="story-preview-box">{{ story.content|linebreaks }}</div>
      </div>
    </div>
  </section>
  <!-- Comments -->
  <section class="story-comments-section sg-container">
    <div class="story-comments-panel">
      <div class="comments-grid">
        <div class="comment-form-col">
          <h2>Leave your comment</h2>
          {% comment %}Comment form{% endcomment %}
          <form method="post" class="comment-form">
            {% csrf_token %}
            <label for="id_comment_text" class="visually-hidden">Write your comment</label>
            {{ comment_form.comment_text }}

            <div class="comment-form-bottom">
              {% if not user.is_authenticated %}
                {{ comment_form.author_name }}
              {% endif %}

              {{ comment_form.rating }}
            </div>
            {% comment %}Submit button{% endcomment %}
            <button type="submit" class="sg-btn">Send</button>
          </form>
        </div>
        <div class="comment-list-col">
          <h2>Lodge of Mockers</h2>
          <div class="comment-search">
            <input type="text" placeholder="Search comments" />
            <button class="sg-btn repo-btn" type="button">More</button>
          </div>
          {% comment %}  Comment list {% endcomment %}
          <div class="comment-list-box">
            {% for comment in comments %}
              <div class="single-comment">
                <p>
                  <strong>{{ comment.display_author }}</strong>
                </p>
                <p>{{ comment.comment_text }}</p>

                {% if comment.rating %}
                  <p>Rating: {{ comment.rating }}/5</p>
                {% endif %}

                <p>{{ comment.created_on }}</p>
              </div>
            {% empty %}
              <p>No comments yet.</p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
