{% extends 'core/base.html' %}
{% load static %}

{% block title %}
  Repository of all the stories | Story Gym
{% endblock %}

{% block content %}
  <section class="stories-container">
    <div class="stories-panel">
      <!-- LEFT: the latest added stories -->
      <div class="stories-col stories-col--latest">
        <header class="stories-header">
          <h1 class="stories-title">The latest added story</h1>
        </header>
        <div class="story-preview-panel">
          <div class="story-preview-header">
            <h2>Generated words:</h2>
            <p class="story-preview-box">child, serious, bedroom, roof, dog</p>
            <h2>Title:</h2>
            <p class="story-preview-box">The sun goes down</p>
          </div>
          <div class="story-preview-content">
            <div class="story-preview-text">
              <p>The sun was already slipping behind the hills when Anna reached the old wooden gate. The garden was silent, apart from the dry grass moving in the wind. She stopped for a moment, holding her breath, as if the house itself was listening.</p>
            </div>
          </div>
          <div class="story-preview-footer">
            <p class="story-preview-author">
              <span>Author:</span>
              Katarzyna Gawronska
            </p>
            <a href="/story-preview" class="sg-btn stories-btn">Read More</a>
          </div>
        </div>
      </div>
      <!-- RIGHT: Repository -->
      <aside class="stories-col stories-col--repository">
        <h2 class="repository-title">Story Repository</h2>
        <ul class="stories-list">
          <li class="stories-row">
            <span class="story-name">The sun goes down</span>
            <span class="story-date">10.01.2026</span>
            <a href="#" class="sg-btn repo-btn">More</a>
          </li>
          <li class="stories-row">
            <span class="story-name">The sun goes down</span>
            <span class="story-date">10.01.2026</span>
            <a href="#" class="sg-btn repo-btn">More</a>
          </li>
          <li class="stories-row">
            <span class="story-name">The sun goes down</span>
            <span class="story-date">10.01.2026</span>
            <a href="#" class="sg-btn repo-btn">More</a>
          </li>
          <li class="stories-row">
            <span class="story-name">The sun goes down</span>
            <span class="story-date">10.01.2026</span>
            <a href="#" class="sg-btn repo-btn">More</a>
          </li>
        </ul>
      </aside>
    </div>
  </section>
{% endblock %}
